<div class="row">
  <div class="col-sm-12">
    <!-- <app-navbar [arrNav]="arrNavByUser"></app-navbar> -->
  </div>
  <div class="col-sm-12 outer text-start">
    <mat-accordion>
      <mat-expansion-panel style="background-color: #fff">
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #000"> PERSONAL </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="color: #000">Some Personal Info</div>
      </mat-expansion-panel>
      <!--  -->
      <mat-expansion-panel style="background-color: #fdfafa">
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #000"> BACKGROUND </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="color: #000">Some Background Info</div>
      </mat-expansion-panel>

      <mat-expansion-panel style="background-color: #fff">
        <mat-expansion-panel-header>
          <mat-panel-title style="color: #000"> IDENTITY DOCS </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="color: #000">Upload Docs</div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<!-- ser student_id first_name last_name student_email student_contact passwd
birth_date registration_date usi is_active -->
