.example-container {
  width: 100%;
  height: 100%;
}

.example-sidenav-content {
  //   display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
}

.example-sidenav {
  padding: 20px;
  background-color: #eee;
  color: black;
  width: 30%;
}
.tdFBQ {
  width: 70%;
  height: 50px;
}

.tdVBQ {
  width: 50%;
}
