.sidenav-container {
  width: 100%;
  height: 100%;
  color: #000;
}

.sidenav-content {
  display: flex;
  height: auto;
  padding: 10px 20px;
  width: 100%;
}
.sidenav-big {
  padding: 20px;
  width: 30%;
  background-color: #fff !important;
  color: #000;
  border-right: thin solid #ccc;
}

.sidenav-smart {
  padding: 20px;
  width: 100%;
  background-color: #fff !important;
  color: #000;
}
